h1 {
	color: red;
	font-size: 80px;
	font-family: Stencil;
	margin-left: 50px;
	margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	font-family: Garamond;
	margin-left: 50px;
	margin-bottom: 5px;
	text-decoration: underline;
	color: black;
}

#your_pick {
	color: red;
	text-decoration: none;
	font-weight: bolder;
}

#computer_pick {
	color: red;
	text-decoration: none;
	font-weight: bolder;
}

img {
	margin-left: 50px;
}

button {
	background-color: black;
	color: white;
	padding: 20px;
	margin-left: 50px;
}

#try_again {
	display: block;
	color: white;
}

#hidden {
	display: none;
}

#result_text {
	text-transform: uppercase;
	margin-top: 0px;
	color: black;
	font-weight: bolder;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	padding-left: 190px;
}

#result{
	width: 15%;
}

body {
	background-image: url("../img/bg.jpg");
	background-size: 100%;
}