/*body {
	background-image: url("../img/bg.jpg");
	background-size: 100%;
}
*/
h1 {
	color: red;
	font-size: 80px;
	font-family: Stencil;
	margin-left: 150px;
	margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	font-family: Garamond;
	margin-left: 50px;
	margin-bottom: 5px;
	text-decoration: underline;
	color: black;
}

#your_pick {
	color: red;
	text-decoration: none;
	font-weight: bolder;
}

.text_right {
	text-align: right;
	margin-right: 50px;
}

#computer_pick {
	color: red;
	text-decoration: none;
	font-weight: bolder;
}

#computer_picture {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

img {
	margin-left: 50px;
}

button {
	background-color: black;
	color: white;
	padding: 20px;
	margin-left: 50px;
	margin-top: 54px;
	cursor: pointer;
}

.right {
	float:right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

#try_again {
	display: block;
	color: white;
}

#hidden {
	display: none;
}

.inner_body {
	padding: 0 100px;
}

#result_text {
	text-transform: uppercase;
	margin: 0 auto;
	color: black;
	font-weight: bolder;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
}
.counter {
	margin: 0 auto;
	text-align: center;
}


#result{
	width: 15%;
}

