h1 {
	color: red;
	font-size: 80px;
	font-family: Stencil;
}

h2 {
	font-size: 50px;
	font-family: Garamond;
	margin-left: 50px;
}

#your_pick {
	color: black;
}

#result{
	width: 25%;
	border: 5px solid black;
}

body {
	background-image: url("../img/bg.jpg");
	background-size: 100%;
}